.dashboard{
    display: grid;
    grid-template-columns: repeat(40,2.5vw) ;
    grid-template-rows: repeat(40,2.5vh);
}

.navbar{
    grid-area: 1 / 4 / 3 / 41;
}

.sidebar-div{
    grid-area: 3 / 4 / 41 / 11;
}
.workspace-sidebar{
    grid-area: 1 / 1 / 41 / 4;
}

.content-div{
    position: relative;
    grid-area: 3 / 11 / 41 / 41;
    background-color: #313338;
}