* , *::before ,*::after {
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    margin: 0;
}
  
/* white page where text is written */
.container .ql-editor{ 
    width : 10in; 
    min-height : 12in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px rgba(0, 0 ,0 ,0.5);
    background-color: white;
}

/* the entire container of the document (for centering purposes */
.container .ql-container.ql-snow{
    display: flex;
    border: none;
    justify-content: center;
}
/* top tool bar (so that it sticks) */
.container .ql-toolbar.ql-snow{
   
    border: none;
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px rgba(0, 0 ,0 ,0.5);
}

/* media queries for printing the page */
@page {
    margin: 1in;
}
@media print {
    .container .ql-editor{
        background: none;
        width: 10in;
        padding: 0in;
        margin: 0in;
        box-shadow: none;
        align-self: flex-start;
    }
    .container .ql-toolbar.ql-snow{
        display: none;
    }
}