/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&family=Poppins:wght@200;400&display=swap');

.homepage {
    position: relative;
}

.home {
    background-color: #DDF2FD;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    margin-left: 50px;
}

.button {
    padding: 8px 16px;
    background-color: #427D9D;
    color: #ffffff;
    margin-left: 1250px; /* Change margin-right to margin-left */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #164863;
}

.divider {
    width: 100%;
    border: 1px solid #164863;
}

.content {
    flex-grow: 1;
    position: relative;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 144px;
}

.des {
    font-size: 40px;
}

.name {
    font-size: 96px;
}

.GetStarted {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #427D9D;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.GetStarted:hover {
    background-color: #164863;
}

.background {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 30%;
}

.background img {
    width: 100%;
    height: auto;
}
